*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 750px;  
    margin: 0 auto;
    border: 3px solid blue;
    padding: 0 2em 1em;
}

h1 { 
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}
h2 {
    font-size: 120%;
}
label {
    float: left;
    width: 8em;
}
input, select { 
    width: 10em;
    margin-right: 1em;
    margin-bottom: 1em;
}
input[type=checkbox] { 
    width: 2em;
}
header p {
	margin: 0 2em 1em 0;
}
p {
    color: blue;
    text-align: right;
    padding-left: 1rem;
    padding-top: 1.1rem;
}
#new_game, #player, #high_score, #correct {
	float: left;
}

.grid {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
  }
  
  .card {
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
  }
  .card,
  .back,
  .front {
    height: 80px;
    width: 64px;
  }
  .back,
  .front {
      position: absolute;
      backface-visibility: hidden;
  }
  .front {
    background: url('./images/back.png') no-repeat center center / contain;

  }
  .back{
      transform: rotateY(180deg);
      background-color: white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

  }

.selected {
    transform: rotateY(180deg);
}
.match {
    border: 3px solid white;
    background: white !important;
}
.clear {
    clear: both;
}